/* General*/
*{
     box-sizing: border-box;
}
/* Header */
html, main{
    height: 100%;
}
body{
    font-family: sans-serif;
    background-color: #7999dd;
}

/* Main */
.main{
    margin: 0 auto;
    padding: 2rem;
    max-width: 980px;
    background-color: #9999;
    box-shadow: 1px 1px 2px black;
    min-height: 50vh;
}

/* Header */
.header{
    padding: 5rem;
    background-image: url('/image/guitarr.jpg');
    background-size: cover;
    background-position: center;
    text-shadow: 1px 1px 2px white;
 
}
.formulario{
    width: 100%;
    display: flex;
    gap: .3rem;
}
.search{
    flex-grow: 1;
    padding: 1rem;
    font-size: 1.5rem;
}

/* Content */ 
.content{
    padding-top: 2rem;
}
.result{
    background-color: #9999 !important;
    display: flex !important;
    justify-content: space-between !important;
    font-size: 1.5rem !important;
    margin-bottom: 1rem !important;
    transition: background-color .3s ease-in-out !important;
}
.result:hover{
    background-color: lightslategrey !important;
}
.songs{
    padding: 0 !important;
    list-style-type: none !important;
}
.show{
    cursor: pointer;
}