/* General*/
*{
     box-sizing: border-box;

}

/* Header */
main{
    height: 100%;
}
body{
    font-family: sans-serif;
    background: radial-gradient(circle, rgba(227,98,98,0.742734593837535) 0%, rgba(57,119,189,1) 100%);
}

/* Main */
.main{
    margin: 0 auto;
    padding: 2rem;
    max-width: 980px;
    background-color: #9999;
    box-shadow: 1px 1px 2px black;
    min-height: 50vh;
}

/* Header */
.header{
    padding: 5rem;
    background-image: url('/image/guitarr.jpg');
    background-size: cover;
    background-position: center;
    text-shadow: 1px 1px 2px white;
 
}
.formulario{
    width: 100%;
    display: flex;
    gap: .3rem;
}
.search{
    flex-grow: 1;
    padding: 1rem;
    font-size: 1.5rem;
}

/* Content */ 
.content{
    padding-top: 2rem;
}
.result{
    background-color: #9999 !important;
    display: flex !important;
    justify-content: space-between !important;
    font-size: 1.5rem !important;
    margin-bottom: 1rem !important;
    transition: background-color .3s ease-in-out !important;
}
.result:hover{
    background-color: lightslategrey !important;
}
.songs{
    padding: 0 !important;
    list-style-type: none !important;
}
.show{
    cursor: pointer;
}
.lyric{
    margin-top: 1rem !important;
    background: radial-gradient(circle, rgba(14,65,230,1) 0%, rgba(0,0,0,1) 100%) !important ;
 
}
.btn-outline-success{
    width: 90% !important;
    position: relative;
    left: 5% !important;
}
.modal-title{
    color: white !important;
}